annotated-types
anyio
click
diskcache
fastapi
h11
httptools
idna
Jinja2
llama_cpp_python
MarkupSafe
numpy
pydantic
pydantic_core
python-dotenv
PyYAML
sniffio
starlette
typing_extensions
uvicorn
uvloop
watchfiles
websockets
firebase-admin
python-dotenv
google-cloud-vision
requests
opencv-python
Pillow
pytesseract

