@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --zinc-900: #1f2022;
  --zinc-200: #d4d4d8;
  --orange-500: #f97316;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 250, 250, 250;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 25, 25, 25;
    --accent-color: 22, 101, 52;
  }
}

/* Add this in your global.css or component CSS module */
.gif-button img {
  transition: transform 0.3s ease-in-out;
}

.gif-button:hover img {
  transform: scale(1.1); /* Slight zoom on hover */
}

@media (min-width: 768px) {
  /* md screens and up */
  .video-modal video {
    width: 500px; /* Standard TikTok video size */
    height: auto;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s forwards;
}

.animate-slide-out {
  animation: slide-out 0.3s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

@media (max-width: 768px) {
  .video-modal video {
    width: 100%;
    height: 100vh;
  }
}

@media (min-width: 769px) {
  .video-modal video {
    width: 350px;
    height: 600px;
  }
}

.guide-container {
  position: fixed;
  right: 3rem; /* 3rem from the right */
  bottom: 3rem; /* 3rem from the bottom */
  z-index: 1000; /* high z-index to stay on top */
}

body {
  /* Create a gradient background from zinc-900 to zinc-700 */
  background-image: linear-gradient(to bottom, var(--zinc-900), #2d3748);
  color: var(--zinc-200);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-comic {
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

/* Define fonts for p and span elements (Roboto-style font) */
p,
span {
  font-family: "Roboto", "Arial", sans-serif;
}

.custom-backdrop {
  pointer-events: none; /* This allows clicks to "pass through" the backdrop */
}

.custom-dialog {
  background-color: #d4d4d8;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 9999; /* Ensures dialog is above the target element */
}

.custom-dialog::before {
  content: "";
  transform: translateY(-50%);
}

.bg-gradient-animation {
  background: linear-gradient(45deg, #d4d4d8, #ff6b6b, #d4d4d8);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loading-indicator {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally in the container */
  justify-content: center; /* Center children vertically if needed */
  width: 100%; /* Take full width of its parent to ensure centering */
}

.screen-container {
  @apply flex flex-col min-h-screen p-4 text-zinc-200 text-center;
}

.card-style,
.card-style1 {
  @apply flex-grow bg-zinc-900 text-zinc-200 p-4 mt-10 mb-10 rounded-xl drop-shadow-md;
}

.title,
.title-style,
.subtitle-style {
  @apply text-orange-500 font-bold;
}

.title {
  @apply text-4xl mt-10 mb-2 rounded-xl drop-shadow-md;
}

.title-style {
  @apply text-2xl mb-2 rounded-xl drop-shadow-md;
}

.subtitle-style {
  @apply text-xl mb-2 rounded-xl drop-shadow-md;
}

.flex-row-wrap {
  @apply flex flex-row flex-wrap sm:flex-nowrap;
}

.section-style {
  @apply mb-6;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the links horizontally */
  padding: 0.7rem;
  margin: 0.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherits text color from parent */
  font-size: 1.5rem; /* Adjust the size as needed */
}

.nav-link:hover {
  transform: scale(1.05);
}

.btn {
  @apply bg-orange-500 text-zinc-900 px-2 py-1 m-2 rounded-xl shadow-lg transform transition-transform hover:scale-105 hover:text-zinc-200;
}

.modal-backdrop {
  @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50;
}

.modal-container {
  @apply bg-zinc-300 p-8 border-4 border-zinc-600 rounded-lg shadow-lg relative max-w-sm;
}

.modal-title {
  @apply text-center mb-4 text-black text-xl;
}

.form-container {
  @apply flex flex-col gap-1 bg-zinc-300;
}

.input-field,
.standard-input,
.modern-input {
  @apply border-4 border-zinc-600 p-2 rounded-lg shadow-md text-zinc-900;
}

.close-button {
  @apply absolute top-2 right-2 text-zinc-200 cursor-pointer bg-transparent border-none text-xl hover:text-zinc-300;
}

.standard-input:focus,
.modern-input:focus {
  @apply outline-none border-zinc-300 shadow-md;
}

.standard-input {
  @apply border-zinc-400 px-4 py-2 bg-zinc-800;
}

.the-text {
  @apply block text-zinc-300 text-sm font-semibold mb-2;
}

.micFinderTitle {
  @apply flex justify-center items-center text-3xl font-bold text-zinc-200;
}

@media (min-width: 768px) {
  .micFinderTitle {
    @apply text-4xl;
  }
}

.event-item {
  @apply p-2 mb-4 border-b-2 border-zinc-600 text-zinc-200;
}

.event-item h3 {
  @apply text-lg font-semibold mb-1;
}

.event-item p {
  @apply text-sm mb-2;
}

.event-item .details {
  @apply align-middle;
}

.event-item h3::before,
.event-item p::before {
  @apply text-xl align-middle;
}

.profile-image {
  @apply rounded-full mx-auto;
}

/* Utility classes */
.rounded-soft {
  border-radius: 0.635rem; /* 10px equivalent */
}

.text-accent {
  color: rgb(var(--orange-500));
}

select {
  color: #d4d4d8;
}

select:required:invalid {
  color: #d4d4d8;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: rgb(22, 22, 22);
}

.category-container {
  margin-top: 2rem;
  padding: 0.5rem;
}

/* Title and line below category title */
.category-title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Horizontal line below the title */
.category-title:after {
  content: "";
  display: block;
  width: 50%;
  height: 0.125rem;
  background: #f97316;
  margin: 0.5rem auto 1.5rem;
}

.news-item {
  border-bottom: 0.125rem solid #d4d4d8; /* Light grey border for separation */
  margin-bottom: 4rem; /* Space between articles */
  padding-bottom: 3rem; /* Padding below each article */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  text-align: center;
}

.news-item:last-child {
  border-bottom: none; /* Remove border for the last item */
}

.news-description,
.news-link {
  display: block; /* Ensure each is on a new line */
  margin-top: 5px; /* Spacing between title, description, and link */
  text-align: center;
}

.news-description {
  padding: 0.25rem;
  transition: background-color 0.2s ease;
  text-decoration: none;
  margin-bottom: 1 rem;
  text-align: center;
}

/* Error message styling */
.error-message {
  color: #d9534f;
  margin: 1rem 0;
  font-weight: bold;
}

.card {
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 0.625rem;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  color: rgb(39, 39, 39);
}

.instructions {
  margin-bottom: 0.5rem;
  color: #1f2022;
}

.checkbox-container {
  display: grid;
  border-radius: 0.625rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  background-color: #d4d4d8;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  cursor: pointer;
  transition: color 0.2s ease;
}

.checkbox-container label:hover {
  cursor: pointer;
}

.bot-message-container {
  background-color: #f0f0f03c;
  color: #ffffffdf;
  padding: 0.625rem;
  border-radius: 0.625rem;
  text-align: start;
}

.neu-button {
  @apply bg-zinc-900 text-zinc-200 rounded-xl drop-shadow-lg px-2 py-1;
  /* Neumorphism effect optimized for dark mode */
}

.btn:hover,
.btn:focus,
.neu-button:hover {
  @apply animate-pulse;
}

.neu-button:hover {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: #f97316;
}

.glass-effect {
  @apply bg-zinc-900 bg-opacity-40 backdrop-blur-md;
  /* Glassmorphism effect in dark mode */
}

/* Micro-interaction styles */
