@import "tailwindcss";

@source "./**/*.{ts,tsx}";

@theme {
  --color-zinc-200: #f0efeb;
  --animate-slide-in: slide-in 0.3s forwards;
  --font-heading:
    var(--font-comic-neue), "Chalkboard SE", "Ink Free", "Segoe Print";
  --font-body: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --shadow-lg:
    0 20px 25px -5px rgba(0, 0, 0, 0.6), 0 8px 10px -6px rgba(0, 0, 0, 0.4);
}

@layer base {
  img,
  svg,
  iframe {
    vertical-align: unset;
  }
  input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    min-height: 2.75rem;
    display: block;
    width: 100%;
    background-color: white;
  }

  input[type="date"]:invalid::-webkit-datetime-edit {
    color: #9ca3af;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    font-weight: 700;
    --tw-text-shadow-color: var(--color-amber-800);
    text-shadow:
      0 1px 0px var(--tw-text-shadow-color),
      0 1px 1px var(--tw-text-shadow-color),
      0 2px 2px var(--tw-text-shadow-color);
  }

  select,
  select:required:invalid {
    color: var(--color-zinc-200);
  }

  option {
    color: var(--color-stone-900);
  }

  option[value=""][disabled] {
    display: none;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
