@import "tailwindcss";

@theme {
  /* --- Brand Color Overrides --- */
  --color-zinc-900: #2e2c28;
  --color-zinc-200: #f0efeb;
  --color-amber-300: #b35a30;

  /* --- Layout --- */
  --spacing-4_5: 1.125rem;
  --radius-soft: 1rem;

  /* --- Shadows --- */
  --shadow-lg:
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

  /* --- Animation --- */
  --animate-slide-in: slide-in 0.3s forwards;

  /* --- Fonts --- */
  --font-heading:
    var(--font-comic-neue), "Chalkboard SE", "Chalkboard", "Ink Free",
    "Segoe Print", cursive;
  --font-body:
    "Century Gothic", "CenturyGothic", "AppleGothic", "Segoe UI", sans-serif;
}

@layer base {
  body {
    background-image: linear-gradient(
      to bottom,
      var(--color-zinc-900) 0%,
      #27272a 80%
    );
    color: var(--color-zinc-200);
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  select,
  select:required:invalid {
    color: var(--color-zinc-200);
  }

  option {
    color: rgb(22, 22, 22);
  }

  option[value=""][disabled] {
    display: none;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
